.asso_page header {
	text-align: center;
}

.asso_page h2 {
	padding-top: 85px;
	padding-bottom: 25px;
}

.asso_page h5 {
	margin-top: 20px;
	padding: 15px 0 5px 0;
	text-align: center;
    border-bottom: 1px solid #ddd;
}

.asso_page table p {
	margin: 10px;
}

.asso_page td {
	text-align: center;
	padding: 10px 30px;
}

.asso_page tr {
    border-bottom: 1px solid #ddd;
}
