.vie_asso header {
	text-align: center;
}

.vie_asso h2 {
	padding-top: 85px;
	padding-bottom: 25px;
}

.vie_asso h5 {
	margin-top: 20px;
	padding: 15px 0 5px 0;
	text-align: center;
    border-bottom: 1px solid #ddd;
}
.vie_asso ul {
	list-style: none;
}