.bg-light {
  background: 	#F0F0F0 !important;
}

footer h6 {
  font-weight: 600;
  font-size: 16px;
}

footer h3 {
  color: $darkBlue;
}

footer ul {
  padding-left: 5px;
  list-style: none;
}

footer p {
  color: $darkBlue !important;
}

footer a {
  color: $darkBlue !important;
}

footer a:hover {
  text-decoration: none;
  color: $lighterWhite !important;
}

footer .footer-icon::before {
  margin-right: 10px !important;
}

.sitemap {
  padding: 20px;
}