.navbar-laravel {
  background-color: blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  padding-bottom: 0px;
}

.navbar {
  padding-bottom: 0px;
}

.navbar-brand-laptop-subtitle {
  font-size: 14px;
}

.bg-dark {
  background: $darkBlue !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.navbar-dark .navbar-brand {
  color: $white;
}

@media (min-width: 769px) {
  .navbar-brand-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-brand-laptop {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }
}
