@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  padding-top: 56px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.marker {
  background-image: url("/images/marqueur.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  height: 400px;
  width: 600px;
  margin: 15px;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.thumbnail {
  padding: 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}

.navbar-brand {
  padding-bottom: 0px;
}

.navbar {
  padding-bottom: 0px;
}

.navbar-brand-laptop-subtitle {
  font-size: 14px;
}

.bg-dark {
  background: #005cb2 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #E8E8E8;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: #FFFFFF;
}

.navbar-dark .navbar-brand {
  color: #E8E8E8;
}

.navbar-highlight {
  color: #ffeb3b;
}

.navbar-nav li:hover {
  cursor: pointer !important;
}

@media (min-width: 769px) {
  .navbar-brand-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-brand-laptop {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }
}

.bg-light {
  background: #F0F0F0 !important;
}

footer h6 {
  font-weight: 600;
  font-size: 16px;
}

footer h3 {
  color: #005cb2;
}

footer ul {
  padding-left: 5px;
  list-style: none;
}

footer p {
  color: #005cb2 !important;
}

footer a {
  color: #005cb2 !important;
}

footer a:hover {
  text-decoration: none;
  color: #FFFFFF !important;
}

footer .footer-icon::before {
  margin-right: 10px !important;
}

.sitemap {
  padding: 20px;
}

.map {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 70vw;
  height: auto;
  margin: 20px auto;
}

.map__image {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 300px;
  bottom: 0;
}

.map__image svg {
  width: 100%;
  height: 100%;
}

.map__image path {
  fill: #415F77;
  stroke: #769cb5;
  stroke-width: 1px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.map__image .is-active path {
  fill: #FC5050;
}

/* Liste
   ========================================================================== */

.map__list {
  float: right;
  width: 280px;
  border-left: 1px solid #dbdbdb;
}

.map__list ul,
.map__list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.map__list a {
  padding-left: 10px;
  display: inline-block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.map__list a.is-active {
  color: #FC5050;
  background-color: #f4f4f4;
}

@media screen and (max-width: 720px) {
  .map__list {
    float: none;
    width: 100%;
    border-left: 1px solid #dbdbdb;
  }

  .map__image {
    padding: 10px;
    position: static;
    width: 100%;
  }
}
