// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors:

// Blues:
$mainBlue: #1e88e5;
$lightBlue: #6ab7ff;
$darkBlue: #005cb2;

// Yellows:
$mainYellow: #ffeb3b;
$lightYellow: #ffff72;
$darkYellow: #c8b900;

// Font colors:
$white: #E8E8E8;
